# Ignore Node.js modules
backend/node_modules/
frontend/node_modules/

# Ignore package-lock.json files
backend/package-lock.json
frontend/package-lock.json

# Ignore frontend build output
frontend/dist/

# Ignore environment variables file
.env
